<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>An Ode to Miranda Olé</title>
</head>
<body>
    <h1>She was a QUEEN</h1>
    <!--TODO: Add sign-in page-->
    <form action="/sign-in" method="post">
        <input type="text" placeholder="What is your name?" name="Username">
    </form>
</body>
</html>